    .flash-message {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #f8f8f8;
      color: #333;
      padding: 10px;
      text-align: center;
      transition: opacity 0.3s ease;
      z-index: 9999;
    }
